/*

MAIN STYLES CERESZALIVING

-- GOTO --

GLOBAL #::GLOB
HEADER #::HEAD
FOOTER #::FOOT
RESPONSIVE #::RESP

-- ./GOTO --

*/





/* GLOBAL #::GLOB */

body {
    background-color: #fff;
    font-family: "futura-pt","futura" , Futura, 'Trebuchet MS', 'Century Gothic', CenturyGothic, AppleGothic, 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.back-to-top {
    border: 2px solid #f55e8d;
    color: #f55e8d;
    background: #fff;
    border-radius: 100%;
}

.back-to-top i {
    color: #f55e8d;
}

/* HEADER #::HEAD */

.top-bar {
    background: #fff;
}

.top-bar .controls-list .control-basket .toggle-basket-preview {
    background: transparent;
}

.wrapper-main .navbar {
    border: none;
    background: #fff;
}

.look_metaNav {

}

#mainNavbarCollapsable ul.mainmenu li a {
    color: #313131;
}

.navbar-brand .img-fluid {
    width: 100%;
}


/* FOOTER #::FOOT */

.footer .copyright small {
    color: #b8aea7;
}

/* RESPONSIVE #::RESP */

@media screen and (max-width: 768px) {

}