/*

MAIN STYLES CERESZALIVING

BrandPrimary: #f55e8d

-- GOTO --

GLOBAL #::GLOB

HEADER #::HEAD
HEADER METANAV #::HEAD.META
HEADER MAINNAV #::HEAD.MAIN
HEADER SEARCH #::HEAD.SRCH

HEADER MOBILENAV #::HEAD.NMOB

BODY #::BODY

FOOTER #::FOOT

RESPONSIVE #::RESP

-- ./GOTO --

*/





/* GLOBAL #::GLOB */

body {
    background-color: #fff;
    font-family: "futura-pt","futura" , Futura, 'Trebuchet MS', 'Century Gothic', CenturyGothic, AppleGothic, 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #000;
}

a:hover,
a:active,
a:focus {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    color: #f55e8d;
}

.back-to-top {
    border: 2px solid #f55e8d;
    color: #f55e8d;
    background: #fff;
    border-radius: 100%;
}

.back-to-top i {
    color: #f55e8d;
}

/* HEADER #::HEAD */


.wrapper-main .navbar {
    border: none;
    background: #fff;
    margin: 60px 0;
}

.look_brandWrapper {
    float: left;
}

.look_logo .img-fluid {
    width: 100%;
}




/* HEADER METANAV #::HEAD.META */

.top-bar {
    background: #fff;
    color: #454545;
    font-size: 12px;
}

.top-bar .look_contactInfo {
    display: block;
    float: left;
    margin: 0;
}

.top-bar .look_metaWrapper {
    margin-top: 20px;
}

.top-bar .look_metaNav {
    float: right;
}

.top-bar .controls-list .control-basket .toggle-basket-preview {
    background: transparent;
}


.top-bar .controls-list .control-basket .toggle-basket-preview,
.top-bar .controls-list > li a {
    color: #454545;
    font-size: 12px;
}

.top-bar .controls-list > li a:hover,
.top-bar .controls-list .control-basket .toggle-basket-preview:hover,
.top-bar .controls-list > li a[aria-expanded=true] {
    background: transparent;
    color: #f55e8d;
}

/* HEADER MAINNAV #::HEAD.MAIN */

#mainNavbarCollapsable ul.mainmenu li a {
    color: #313131;
    font-size: 18px;
}

#mainNavbarCollapsable ul.mainmenu li ul li a:hover,
#mainNavbarCollapsable ul.mainmenu li a:hover {
    color: #f55e8d;
}

#mainNavbarCollapsable ul.mainmenu ul li:hover,
#mainNavbarCollapsable ul.mainmenu > li:hover {
    background-color: transparent;
}

#mainNavbarCollapsable ul.mainmenu > li > ul {
    width: 100%;
    background: #fff;
}

/* HEADER SEARCH #::HEAD.SRCH */

.look_headerSearch {
    float: right;
}

.look_headerSearch .search-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #a2a2a2;
    color: #a2a2a2;
}

.look_headerSearch .search-submit {
    background: transparent;
    border: none;
}

/* HEADER MOBILENAV #::HEAD.NMOB */

.mobile-navigation {
    background: #fff;
}

.mobile-navigation ul.mainmenu li a


/* BODY #::BODY */

.wrapper-main #page-body {
    margin-top: 248px;
}

/* FOOTER #::FOOT */

.footer .copyright small {
    color: #b8aea7;
}

/* RESPONSIVE #::RESP */

@media screen and (max-width: 768px) {

}
