<div class="row look_metaNav">
    {{ LayoutContainer.show("CeresZaliving::Header.LeftSide") }}

    <ul id="controlsList" class="controls-list list-inline">

        <li class="list-inline-item control-user">
            <user-login-handler template="#vue-user-login-handler"
                                :user-data="{{ services.customer.getContact() | json_encode() }}"></user-login-handler>
        </li>
        {% if "wish-list" in enabledRoutes or "all" in enabledRoutes %}
            <li class="list-inline-item control-wish-list">
                <wish-list-count :init-ids="{{ services.wishList.getItemWishList() | json_encode }}"></wish-list-count>
            </li>
        {% endif %}
        <li class="list-inline-item control-basket">
            <a href="#" id="toggleBasketPreview" class="toggle-basket-preview">
                {% if config("Ceres.header.basket_values") != "sum" %}
                    <span class="badge-right" v-resource-bind:basket="itemQuantity">0</span>
                {% endif %}
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                {% if config("Ceres.header.basket_values") != "quantity" %}
                    <span class="badge" v-resource-bind:basket="itemSum" :filters="['currency']">0,00 €</span>
                {% endif %}
            </a>
        </li>
    </ul>
</div>