{% import "CeresZaliving::Category.Macros.CategoryTree" as Tree %}

{% set lang = services.sessionStorage.getLang() %}
{% set categories = services.category.getNavigationTree("item", lang, 6) %}

<resource name="navigationTree" :data="{{ categories | json_encode() }}"></resource>
<div style="display: none">
    {{ categories | json_encode() }}
</div>
<ul class="mainmenu get_mainnav_bar">
    {{ Tree.get_mainnav_bar(categories, "") }}
</ul>